
body{
    background-color: rgb(64, 77, 142);
    color: rgb(0, 0, 0);
}
main{
    text-align: 757;
}
tr{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
form{
    text-align-last: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
table{
    text-align: center;
}
