body {
    background-color: rgb(255, 255, 255)
}

body {
    color: rgb(79, 40, 12);
}

button {
    color: goldenrod;
}

input {
    color: goldenrod;
}

iframe {
    margin-left: 30%;
}

h2 {
    text-align: center;
}

img {
    margin-left: 32%;
}

h3 {
    font-weight: 900;
    font-style: italic;
}

li {
    margin-left: 40%;
}

#ff {
    margin-left: 0%;
}
