body {
    background-color: rgb(255, 255, 255)
}

body {
    color: rgb(79, 40, 12);
}

button {
    color: goldenrod;
}

input {
    color: goldenrod;
}

iframe {
    margin-left: 25%;
}

h2 {
    text-align: center;
        margin: auto;
        width: 55%;
        border: 2px solid #ad9821;
        padding: 2px;
}

img {
    margin-left: 32%;
}

h3 {
    font-weight: 900;
    font-style: italic;
}

li {
    margin-left: 40%;
}

#ff {
    margin-left: 0%;
}

base {
    background-attachment: fixed;
}

img {
    background-attachment: fixed;
}

text::marker {
    color: rgb(224, 193, 36);
    font-weight: bold;
  }
  
  ul li::marker {
    font-size: 150%;
    color: rgb(231, 213, 24);
  }
  
  footer {
  background-image:url(Footer\ laranja.png)
  } 