body{
    background-color: rgb(255, 255, 255)
}
body{
    color: rgb(79, 40, 12);
}
button{
    color: goldenrod;
}
input{
    color: goldenrod;
}
h2{
    text-align: center;
}
iframe{
    align-items: center;
    padding: 0 390px;
}