body {
    background-color: rgb(255, 255, 255)
}

body {
    color: rgb(79, 40, 12);
}

button {
    color: goldenrod;
}

input {
    color: goldenrod;
}

iframe {
    padding: 0 390px;
}

h2 {
    margin-left: 37%;
}

img {
    margin-left: 35%;
}

h3 {
    margin-left: 00%;
    font-style: italic;
}

li {
    margin-left: 40%;
}

#ff {
    margin-left: 0%;
}

ol li::marker {
    color: rgb(243, 202, 0);
    font-weight: bold;
}

ul li::marker {
    font-size: 110%;
    color: rgb(167, 167, 4);
}